@model FIT5032_PortfolioV3.Models.MedImage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MedImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            <img class="img-thumbnail" src="@Url.Content("~/Uploads/"+ Model.Path)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.AppointmentDateTime)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        <a href="@Url.Action("SendEmail", "MedImages", new { id = Model.Id })" class="btn btn-primary">Send X-ray Image to Email</a>
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
@if (User.IsInRole("Staff"))
{
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
}
@if (User.IsInRole("Patient"))
{
    <p>
        <a href="@Url.Action("SendEmail", "MedImages", new { id = Model.Id })" class="btn btn-primary">Send X-ray Image to Email</a>
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>

}

