@model FIT5032_PortfolioV3.Models.Appointments

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Appointment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Select Clinic and Appointment Date</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <dl class="form-group">
        <dt>@Html.LabelFor(model => model.PatientUserId, "Patient Name")</dt>

        @if (User.IsInRole("Admin"))
        {
            <dd>
                @Html.DropDownList("PatientUserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PatientUserId, "", new { @class = "text-danger" })
            </dd>
        }
        else
        {
            <dd>@Html.DisplayFor(model => model.PatientId.FullName)</dd>
            <dd style="display: none">
                @Html.EditorFor(model => model.PatientUserId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PatientUserId, "", new { @class = "text-danger" })
            </dd>
        }

        <dt>@Html.LabelFor(model => model.ClinicId, "Select Clinic")</dt>
        <dd>
            @Html.DropDownList("ClinicId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClinicId, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(model => model.Date, "Select Date")</dt>
        <dd>
            @Html.TextBoxFor(model => model.Date, new { @id = "datepicker", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </dd>
    </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <p></p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui") 
    <script type="text/javascript">
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        $("#datepicker").datepicker({
            format: 'dd-mm-yyyy',
            startDate: tomorrow
        });
    </script>
}
