@model FIT5032_PortfolioV3.Models.Appointments

@{
    ViewBag.Title = "EditSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditSelect</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

@using (Html.BeginForm("EditSelect", "Appointments", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    <dl class="form-group">
        <dt>@Html.LabelFor(model => model.PatientUserId, "Patient Name")</dt>
        <dd>@Html.DisplayFor(model => model.PatientId.FullName)</dd>
        <dd style="display: none">
            @Html.EditorFor(model => model.PatientUserId)
            @Html.ValidationMessageFor(model => model.PatientUserId, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(model => model.ClinicId, "Clinic Name")</dt>
        <dd>@Html.DisplayFor(model => model.Clinics.Name)</dd>
        <dd style="display: none">
            @Html.EditorFor(model => model.ClinicId)
            @Html.ValidationMessageFor(model => model.ClinicId, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(model => model.Date)</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>
        <dd style="display: none">
            @Html.TextBoxFor(model => model.Date, new { @id = "datepicker" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </dd>

        <dt>@Html.LabelFor(model => model.StaffUserId, "Select Staff")</dt>
        <dd>
            @Html.DropDownList("StaffUserId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StaffUserId, "", new { @class = "text-danger" })
        </dd>

        <!-- Hidden fields (as per your design) -->
        @Html.HiddenFor(model => model.TimeSlotId)
        @Html.HiddenFor(model => model.RoomNo)
    </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <p></p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        $("#datepicker").datepicker({
            format: 'dd-mm-yyyy',
            startDate: tomorrow
        });
    </script>
}
