@model FIT5032_PortfolioV3.Models.Appointments

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Appointments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <dl class="form-group">
            <dt>
                @Html.LabelFor(model => model.PatientUserId, "Patient Name")
            </dt>
            <dd class="col-md-10">
                @Html.DisplayFor(model => model.PatientId.FullName)
            </dd>
            <dd class="col-md-10" style="display: none">
                @Html.EditorFor(model => model.PatientUserId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PatientUserId, "", new { @class = "text-danger" })
            </dd>
        </dl>
        <div class="form-group">
            @Html.LabelFor(model => model.ClinicId, "Select Clinic", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClinicId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClinicId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Date, "Select Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Date, new { @id = "datepicker", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        @*<a href="@Url.Action("Select", "Appointments", new { id = Model.Id })" class="btn btn-primary">Next</a>*@

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        $("#datepicker").datepicker({
            format: 'dd-mm-yyyy',
            startDate: tomorrow
        });


    </script>
}
